<?xml version="1.0" ?>
<!--
/**
 * @author      SWENSON HE
 * @copyright   Copyright © SWENSON HE (https://www.swensonhe.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SwensonHe_DownloadableIsVisible" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Downloadable"/>
        </sequence>
    </module>
</config>
